// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
$fondoNegro : #111111 !important;
$white : #FFF;
$sizeUno : 14px;

.bloque{
    padding: 60px  0;
    position: relative;
    z-index: 1;
    @media (max-width: 992px) {
        padding: 4rem  0;
    }
}
.shadow{
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75) !important;
}
h1, h3{
    padding: 10px;
}
h1{
    font-size: 1.5rem;
}
h3{
    font-size: 1rem;
}
body{
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}
/* Navbar */
.bg-dark{
    background-color:$fondoNegro ;
}
.navbar-dark .navbar-toggler,
.navbar-dark .navbar-toggler:hover,
.navbar-dark .navbar-toggler:focus{
    color: $white;
    border-color: $fondoNegro;
}

.navbar-brand{
    font-size: $sizeUno;
    padding: 10px;
    text-align: center;
    letter-spacing: 4px;
    @media (max-width: 767.98px) {
        text-align: left;
    }
}
.navbar-brand:hover{
    background-color: #1b1e21 !important;
}

/* show */
#redes{
    color:#111111;
    & h1{
        font-weight: bolder;
        font-size: 40px;
        letter-spacing: 4px;
    }
    & .comentario{
        font-size: 16px;
        letter-spacing: 4px;
    }
}

.img-fluid{
    max-width: 100%;
    @media (min-width: 992px) {
        max-width: 400px;
    }
}
.titulo{
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

